# squirrel statistics
#
<html>
<body>
        <header class='header'>
            <h1>Do statistics for 5 chosen attributes</h1>
        </header>
        <li>In this dataset, we have a total of {{total}} sightings.</li>
      		<br>
      		<li>Latitiude：The minimum latitude is {{lattitude.minimum}}</li>
      		<li>Latitiude：The Maxiimum latitude is {{lattitude.maximum}}</li>
      		<br>
      		<li>Longitude：The minimum longitude is {{longitude.minimum}}</li>
      		<li>Longitude：The maximum longitude is {{longitude.maximum}}</li>
      		<br>
            <li>Age：The minimum age is {{age.minimum}}</li>
      		<li>Age：The maximum age is {{age.maximum}}</li>
            <br>
        <li>shift: {{shift}}</li>
    </body>
</html>


